.betting-options-div {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

.chip-options-div {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
    width: 60vw;
}

.chip-img {
    height: 10vh;
    cursor: pointer;
}

.chip-img:hover {
    background-color: greenyellow;
    border-radius: 60px;
}

.active-chip {
    border: greenyellow 10px solid;
    cursor: pointer;
    height: 10vh;
    border-radius: 60pt;
}

.spin-circle {
    height: 15vh;
    cursor: pointer;
    /* margin-top: 10px;
    margin-bottom: 10px; */
    /* padding-top: 10px;
    padding-bottom: 10px; */
}

.spin-circle:hover {
    border: 4px greenyellow solid;
    border-radius: 60pt;
}

.img-div {
    height: 14vh;
    width: 10vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.wheel-div {
    display: flex;
    justify-content: center;
    align-items: center;
}

.roulette-wheel {
    height: 25vh;
}
.roulette-wheel-spinning {
    height: 25vh;
    animation-name: spin;
    animation-duration: 500ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

.wheel-number-div {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 14.5vh;
    width: 14.5vh;
    border-radius: 100pt;
}

.winning-number-h2 {
    margin-top: 0px;
    margin-bottom: 0px;
    color: rgb(240, 240, 240);
    font-size: 60pt;
    border-radius: 60pt;
    /* padding: 1vw; */
    font-family: 'Libre Baskerville', serif;
    font-weight: 900;
    /* width: 5%;
    height: 10%; */
    text-align: center;
}

.green-wheel-number {
    background-color: rgba(89, 161, 34, 0.9);
}

.red-wheel-number {
    background-color: rgba(254, 0, 0, 0.9);

}

.black-wheel-number {
    background-color: rgba(22, 22, 22, 0.9);
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

